@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text-color: #252526;
  --primary: #ff6647;
  --faded: rgb(255, 102, 71, 0.5);
  --neutral: #ff221e;
  --card: #f6f7fb;
  --accent: #3a3a3a;
  --sideBar: #f6f7fb;
  --sideBarIcon: #ffffff;
  --scrollBg: rgba(0, 0, 0, 0.3);
  --green:#3EBE5E;
}

[data-theme="dark"] {
  --background: #1a202c;
  --text-color: #ffffff;
  --card: #011627;
  --accent: rgba(247, 249, 252, 0.7);
  --sideBar: #1a202c;
  --sideBarIcon: #011627;
  --scrollBg: #808080;
}

[color-theme="#d69a00"] {
  --primary: #d69a00;
  --faded: rgb(255, 102, 71, 0.5);
}

[color-theme="#01966b"] {
  --primary: #01966b;
  --faded: rgb(1, 150, 107, 0.5);
}

[color-theme="#349ce4"] {
  --primary: #349ce4;
  --faded: rgb(52, 156, 228, 0.5);
}

[color-theme="#6e55ff"] {
  --primary: #6e55ff;
  --faded: rgb(110, 85, 255, 0.5);
}

body {
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

a:hover {
  color: inherit;
}

/* Fix for antd btn, conflicting with tailwind */
/* TODO: Find a more dynamic fix that will allow antd theme config styles to be used */
.ant-btn-primary {
  background-color: var(--primary);
}

/* svg styles for auth background */
.st0 {
  fill: none;
}

.st1 {
  fill: url(#SVGID_1_);
}

.st2 {
  fill: var(--faded);
}
/* svg styles for auth background */

/* override big-calender-css */
.rbc-event,
.rbc-event.rbc-selected {
  background: var(--primary) !important;
}

/* override big-calender-css */
